.headField {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.headFieldItem {
    margin: 1em auto;
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 25px;
    column-gap: 50px;
    padding: 0px 20px;
    margin-bottom: 50px;
}

.projectHeadings {
    text-align: center;
}

.projectImages {
    display: flex;
    justify-content: center;
}

img {
    max-width: auto;
}

html{
    background-color: antiquewhite;
}

main {
    background-color:antiquewhite;
}

nav {
    background-color: #0cf5d6;
}

.projectDescription {
    background-color: #0cf5d6;
}